<div class="sidebar sticky-md-top">
  <div class="p-4 mb-3 bg-light rounded">
    <h4>À propos</h4>
    <p class="mb-0">
      Sunt amet pariatur laboris minim proident. Pariatur, laboris minim proident. Proident minim ad cupidatat ut aliquip, ex proident. Cupidatat ut aliquip, ex. Ex, proident elit ex ullamco enim sit fugiat. Ex ullamco enim sit fugiat deserunt dolore. Enim sit, fugiat deserunt. Deserunt dolore, sit ipsum.
    </p>
  </div>
</div>
