.card-title {
  a {
    color: #000;
    text-decoration: none;

    :hover {
      color: #000;
    }
  }
}

/**
 * Le sidebar avec la classe `sticky-md-top` va descendre en même temps que la
 * page. J'ai défini la propriété top pour permettre d'avoir une marge sur le
 * haut pour ne pas avoir l'impression que le sidebar est collé au navigateur.
 */
.sidebar {
  top: 1rem;
}

@import url('https://fonts.googleapis.com/css?family=Special+Elite');

// Inspiré de https: //codepen.io/JoeHastings/pen/MOdRVm
blockquote {
  font-family: 'Special Elite', cursive;
  background: #fffdf5;
  color: #3f3f5a;
  font-size: 1.1rem;
  max-width: 750px;
  line-height: 1.4;
  position: relative;
  margin: 0 auto;
  padding: .5rem;
  padding-left: 2rem;

  cite {
    line-height: 3;
    text-align: left;

    &:before {
      content: "—";
      padding-right: 1rem;
    }
  }
}
